<!DOCTYPE html>
<html>

<head>
  <title>播放器</title>
  <link rel="stylesheet" href="./css/index.css">

</head>

<body>
  <div class="app" id="app">

    <div class="left">
      <div class="list-box">
        <div class="item" v-for="(item, index) in list" :class="{ active: index == listIndex }" @click="listIndex = index;num=''">
          {{item.name}}
        </div>
      </div>
    </div>

    <div class="right">
      <div class="operate">
        选集<input v-model="num">
        <div class="btn" @click="play">获取</div>
      </div>
      <div>状态：{{globalStatusStr}}</div>
      <div id="video-wrapper"></div>
    </div>
  </div>
   
  <script src="./js/vue.js"></script>
  <script src="./dist/mux.js"></script>
  <script src="./js/index.js"></script>
 
</body>


</html>